<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="number-to-convert">Convert</label>
        <input
          type="text"
          class="form-control"
          id="number-to-convert"
          aria-describedby="emailHelp"
          placeholder="number to convert"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="convert-from">From</label>
        <select
          class="form-control form-select custom-select"
          id="convert-from"
        >
          <option>Binary</option>
          <option>Octal</option>
          <option>Decimal</option>
          <option>Hexadecimal</option>
        </select>
      </div>
    </div>
    <div class="col-sm">One of three columns</div>
    <div class="col-sm">One of three columns</div>
  </div>
</div>
