<div id="converting">
  <!-- <span
    class="tool"
    data-tip="By adding this class you can provide almost any element with a tool tip."
    tabindex="1"
    >tool</span
  > -->
  <h3>
    Converting
    <span class="tool" data-tip="The number we are converting" tabindex="1">
      123
    </span>
    from
    <span
      class="tool"
      data-tip="decimal numbers (base-10) use 0 - 9"
      tabindex="1"
    >
      decimal
    </span>
    to
    <span
      class="tool"
      data-tip="Binary numbers (base-2) use only 0 and 1"
      tabindex="1"
    >
      binary
    </span>
  </h3>
</div>
