<div id="header">
  <div id="header-form" class="container-fluid mt-3">
    <div>
      <label for="number-to-convert">Convert</label>
      <input
        type="text"
        class="form-control"
        id="number-to-convert"
        aria-describedby="conversion-number-error"
        placeholder="number to convert"
      />
      <small
        id="conversion-number-error"
        class="form-text text-danger"
        style="display: none"
      ></small>
    </div>
    <div>
      <label for="convert-from">From</label>
      <select class="form-control form-select custom-select" id="convert-from">
        <option value="binary">Binary</option>
        <option value="octal">Octal</option>
        <option value="decimal">Decimal</option>
        <option value="hex">Hexadecimal</option>
      </select>
    </div>
    <div>
      <label for="convert-to">To</label>
      <select class="form-control form-select custom-select" id="convert-to">
        <option value="octal">Octal</option>
        <option value="decimal">Decimal</option>
        <option value="hex">Hexadecimal</option>
        <!-- <option>Binary</option> -->
      </select>
    </div>
    <div>
      <label>Make Conversion</label>
      <button
        type="button"
        class="btn btn-primary form-control"
        id="convertBtn"
        disabled
      >
        Convert
      </button>
    </div>
  </div>
</div>
