<div id="steps">
  <div class="step" style="display: none">
    <div class="step-title">
      <!-- Title & name -->
      <h5>Step 4 - Write out the new, binary number</h5>
    </div>
    <div class="step-body">
      <!-- Hint -->
      <span
        class="tool"
        data-tip="Since we are dividing by 2, when the dividend is even the binary remainder will be 0, and when the dividend is odd the binary remainder will be 1."
        tabindex="1"
      >
        Hint
      </span>
      <!-- Description -->
      <p>Starting with the bottom remainder, write out the new binary number</p>
      <div class="rows">
        <div class="example">eg. 45 รท 2 = 22 r 1</div>
        <div class="row">1 1 0 1 1 1 1</div>
        <div class="row">1101111</div>
      </div>
      <!-- Notes -->
      <p class="notes">
        <i class="las la-sticky-note"></i>
        This method can be modified to convert from decimal to any base. The
        divisor is 2 because the desired destination is base 2 (binary). If the
        desired destination is a different base, replace the 2 in the method
        with the desired base. For example, if the desired destination is base
        9, replace the 2 with 9. The final result will then be in the desired
        base
      </p>
      <!-- Summary -->
      <p class="summary">
        <i class="las la-compress"></i>
        That is your final answer
      </p>
    </div>
  </div>
</div>
