<div>
  <%- include('./partials/header-form.ejs') %>
  <!--  -->
  <% if(messages.logged){ %>
  <!--  -->
  <%= messages.logged %>
  <!--  -->
  <% } %>
  <!--  -->
</div>

<div>
  <!--  -->
  <%- include('./partials/converting.ejs') %>
  <!--  -->
</div>

<div>
  <!--  -->
  <%- include('./partials/steps.ejs') %>
  <!--  -->
  <!-- <h2>Steps answer</h2> -->
</div>
